POSTGRES_DB=projectmanager
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

JWT_SECRET_KEY=jx+kB9HbpSjRZsth9+hWGgxvSbxq3LiOU3tAC967oHQ=
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000

COOKIE_SECURE=false

ADMIN_USERNAME=admin@admin.com
ADMIN_PASSWORD=admin123

SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USERNAME=apikey
SMTP_PASSWORD=api_key_value_here
SEND_GRID_VERIFY_EMAIL=verify_email_in_send_grid
APP_FRONTEND_URL=http://localhost:80